{#1.앱 만들기: 가상환경 실행 후 python manage.py startapp blog#}
{##blog = 앱 이름#}
{##}
{#2.모델 만들기: blog/models.py - Post모델 만들기, Django_prj/settings.py - App 추가하기#}
{##모델 변경,추가하면 cmd에 migrate 해주기#}
{##}
{#3.Post 모델 admin에 등록하기: blog/admin.py - from .models import Post, admin.site.register(Post)#}
{##}
{#4. index 페이지 만들기:#}
{#Django_prj/urls.py -> blog/urls.py -> blog/views.py -> blog/templates/blog/index.html#}
{##}
{#5. Post 목록 가져오기: blog/views.py -> blog/templates/blog/index.py#}
{##}
{#6. post_detail 만들기: blog/urls.py -> blog/views.py -> blog/templates/blog/single_post_page.html#}
{##}
{#7. get_absolute_url()으로 고유 url 부여하기: blog/models.py -> blog/templates/blog/post_list.html#}
{##}
{#8. ListView로 포스트목록페이지 만들기: blog/urls.py -> blog/views.py -> post_list.html#}
{#   DetailView로 포스트상세페이지 만들기: blog/views.py -> blog/urls.py#}
{##}
{#9.#}
<!DOCTYPE html>
{% load static %}  <!-- static 폴더를 사용하겠다 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Blog{% endblock %}</title>
    <link rel= "stylesheet" href = "{% static 'blog/bootstrap4/css/bootstrap.min.css' %}"> <!-- 여기를 참조 고정되서 사용 -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/a506b963cb.js" crossorigin="anonymous"></script> <!-- 폰트 -->
</head>
<body>

    {% include 'blog/nav.html' %}

    <div class="container my-4"> <!-- 마진을 의미, 위 아래에 중간 정도의 크기 mt(위), mb(아래), ml(오른쪽), mr(오른쪽) -->
        <!-- mx(수평), my(수직) -->
        <div class = "row">
            <div class = "col-sm-8" id="main-area">
            {% block main_area %}

            {% endblock %}
            </div>

            <!-- Search widget-->
            <div class = "col-sm-4">
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input id="search-input" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" onclick="searchPost();" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4" id = 'categories-card'>
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <!-- post_list(post), categories, no_category_post_count -->

                                    <ul> <!-- categories -->
                                        {% for category in categories %}
                                        <li>
                                            <a href = "{{ category.get_absolute_url }}">
                                                {{ category }} ({{category.post_set.count}})
                                            </a>
                                        </li>
                                        {% endfor %}
                                        <li>
                                            <a href = "/blog/category/no_category/">
                                                미분류 ({{no_category_post_count }})
                                            </a>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </div>

    {% include 'blog/footer.html' %}

    <script>
        function searchPost(){
            let searchValue = document.getElementById("search-input").value.trim();
            if(searchValue.length>1){
                location.href = "/blog/search/" + searchValue + "/";
            }
            else{
                alert("검색어(" + searchValue + ")가 너무 짧습니다");
            }
        };
        {#엔터키를 눌러도 검색되게 하기#}
        document.getElementById("search-input").addEventListener("keyup", function(event){
            if(event.key === 'Enter'){
                searchPost();
            }
        });
    </script>

</body>
</html>